<app-navbar></app-navbar>
<div
  class="bg-light d-flex flex-column justify-content-center align-items-center vh-100"
>
  <div
    class="bg-white p-5 rounded-5 text-secondary shadow"
    style="width: 25rem"
  >
    <div class="text-center fs-1 fw-bold h4">Recuperación de cuenta</div>
    <div class="container text-left">
      <p class="lead">Ingresa el correo de la cuenta que quieres recuperar.</p>
    </div>
    <form [formGroup]="formulario">
      <div class="input-group mt-4">
        <div class="input-group-text bg-info">
          <img src="/assets/email.svg" alt="correo-icon" style="height: 1rem" />
        </div>
        <input
          class="form-control bg-light"
          type="text"
          formControlName="correo"
          placeholder="Correo"
        />
      </div>
      <button
        type="button"
        class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm"
        (click)="recuperarCuenta()"
      >
        Recuperar
      </button>
      <div class="d-flex gap-1 justify-content-center mt-1 py-3">
        <div>¿No tienes una cuenta?</div>
        <a
          routerLink="/auth/registro"
          class="text-decoration-none text-info fw-semibold pe-auto"
          >Registrate</a
        >
      </div>
    </form>
  </div>
</div>
