<nav *ngIf="!hideNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">CheckTrip</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/vuelos">Vuelos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/aeropuertos">Aeropuertos</a>
        </li>
        <li class="last-item" routerLinkActive="active" *ngIf="!username">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <div class="user-info">
          <li class="nav-item dropdown last-item" *ngIf="username">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ seleccion_divisa }}
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdown"
              routerLinkActive="active"
            >
              <li>
                <a class="dropdown-item" (click)="cambiarDivisa('COP')">COP</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="cambiarDivisa('USD')">USD</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="cambiarDivisa('EUR')">EUR</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown last-item" *ngIf="username">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ username }}
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdown"
              routerLinkActive="active"
            >
              <li routerLinkActive="active">
                <a class="dropdown-item" routerLink="/usuarios/itinerarios"
                  >Mis itinerarios</a
                >
              </li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item salir-opcion" (click)="cerrarSesion()"
                  >Salir</a
                >
              </li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
