<app-navbar></app-navbar>
<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Gestiona tus viajes en cualquier momento.
        </h1>
        <p class="hero-description">
          Con checktrip tendrás una herramienta eficiente de gestion de tus
          viajes. Encuentra los itinerarios más ajustados a tu presupuesto y
          guardalos para no perderlos de vista.
        </p>
        <a routerLink="auth/registro" class="btn btn--full margin-right-sm"
          >Registrarse</a
        >
        <a routerLink="vuelos" class="btn btn--outline">Ver vuelos &rarr;</a>
      </div>
      <div class="hero-img-box">
        <img src="assets/img/airport.jpg" class="hero-img" alt="Cinema" />
      </div>
    </div>
  </section>
</main>
