<div class="vuelo-segmento-detalle">
  <figure class="vuelo-segmento">
    <div class="vuelo-segmento-desde"></div>
    <div class="vuelo-segmento-linea"></div>
    <div class="vuelo-segmento-hasta"></div>
  </figure>
  <aside class="vuelo-segmento-body" aria-label="segmento-origen">
    <div class="vuelo-segmento-origen">
      <strong class="segmento-localizacion">{{
        segmento.departure.iataCode
      }}</strong>
      -
      {{ segmento.departure.at | date : "medium" }}
    </div>
    <div class="vuelo-segmento-info">
      <div class="vuelo-segmento-duracion">
        {{ segmento.duration }}
      </div>
    </div>
    <div class="vuelo-segmento-destino">
      <strong class="segmento-localizacion">{{
        segmento.arrival.iataCode
      }}</strong>
      -
      {{ segmento.arrival.at | date : "medium" }}
    </div>
  </aside>
  <div class="vuelo-segmento-detalle-info">
    <div class="container-detalle-vuelo">
      <p>
        <strong class="segmento-localizacion">Vuelo:</strong>
        {{ segmento.carrierCode }}{{ segmento.number }} -
        {{ clase }}
      </p>
      <p>
        <strong class="segmento-localizacion">Aerolinea:</strong>
        {{
          viaje.dictionaries.carriers[segmento.carrierCode] ||
            obtenerAerolinea(segmento)
        }}
      </p>
      <p>
        <strong class="segmento-localizacion">Avión:</strong>
        {{
          viaje.dictionaries.aircraft[segmento.aircraft.code] ||
            obtenerAvion(segmento)
        }}
      </p>
      <p>
        <strong class="segmento-localizacion">Precio:</strong>
        {{ viaje.price.base | currency : viaje.price.currency }}
        <i style="display: block">Sin impuestos</i>
      </p>
    </div>
  </div>
</div>
